[loading] {
    @keyframes pageload-nojs-load {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    transition: opacity 0.3s linear;
    &:not([loading="false"]) {
        opacity: 0;
    }

    // no js fallback :)
    .no-js &:not([loading="false"]) {
        animation: pageload-nojs-load 0.3s linear 3s;
        animation-fill-mode: forwards;
    }
}
